{% extends "base.html" %}
{% load static %}

{% block content %}

<div style="background-color: #262626;">
    <div class="container special-container" style="padding-top: 10px">
       <div style="width: 75%">
           <p style="color:#969696; font-size: 12px; font-weight: 350">Click into an image to view more information about the artwork on the Princeon University Art Museum website. Toggle to view isolated palettes, and click a palette color to copy its hex value to your clipboard. </p>
        </div>
    </div>

    <div class = "container">
        <div class="row" style="padding-bottom:20px;">
            <!-- Titles -->
            <div class = "column" style="flex:55%">
                <p id="country" class = "inputlabel">Country</p>
                <p id="date" class = "inputlabel">Date</p>
                 <!--Go Back button FIX FUNCTIONALITY -->
                 <div style="padding-top:10px">
                     <button class="inputbox" style="padding-top: 1px; color:#BDBDBD; font-style: italic; font-weight: bold;" onclick="goBack()"> < Back to Map</button>
                 </div>
            </div>

            <!-- space between -->
            <div class = "column" style="flex:25%"> </div>

            <!-- color circle -->
            <div class = "column" style="flex:11%">
                <div id = "color" class = "no-click-circle"></div>
            </div>
            <div class = "column" style="flex:9%"></div>

        </div>
    </div>

    <div id="hideDiv" class="copied">Copied hex to clipboard!</div>
    
    <div class = "loader" id="loader" style="display: none;"></div>


</div>

    <div class = "container special-container" style="padding-bottom:0px; padding-right: 10%">
        <label class="switch">
            <input id="check" type="checkbox" onclick="toggleColors()">
            <span class="toggle" id = "toggle-bg"></span>
        </label>
        <div id = "toggle" style="color:#BDBDBD; font-size: 12px; font-weight: bold; float: right;"> View Colors &nbsp
        </div>
    </div>

    <div class="container special-container" style="padding-top:0px">
        <div id="imageContainer" class="image-grid inputlabel"> </div>
    </div>

        <script>
            function goBack() {
                window.history.back();
            }

        var queryString = decodeURIComponent(window.location.search);
        queryString = queryString.substring(1);
        var queries = queryString.split("&");
        let rangeStr = queries[0];
        let rgbStr = queries[1];
        let mapidsStr = queries[2];


        let country = mapidsStr.replace(/_/g, " ")
        let date = getDate(rangeStr)
        let color = "rgb("+ rgbStr+ ")"

            
        document.getElementById("country").innerHTML = country;
        document.getElementById("date").innerHTML = date;
        document.getElementById("color").style.backgroundColor = color;


        function getDate(dateStr) {
            let date = ""

            if (dateStr=="-15000,-2001") date = "15000 - 2001 BC";
            else if (dateStr=="-2000,-1001") date = "2000 - 1001 BC";
            else if (dateStr=="-1000,0") date = "1000 BC - 0 AD";
            else if (dateStr=="1,499") date = "1 - 499 AD";
            else if (dateStr=="500,999") date = "500 - 999 AD";
            else if (dateStr=="1000,1499") date = "1000 - 1499";
            else if (dateStr=="1500,1599") date = "1500 - 1599";
            else if (dateStr=="1600,1699") date = "1600 - 1699";
            else if (dateStr=="1700,1799") date = "1700 - 1799";
            else if (dateStr=="1800,1849") date = "1800 - 1849";
            else if (dateStr=="1850,1899") date = "1850 - 1899";
            else if (dateStr=="1900,1944") date = "1900 - 1944";
            else if (dateStr=="1945,2021") date = "1945 - Present";

            return date
        }

                // Function to color the map accordingly 
        function searchFunc(rangeStr, rgbStr, mapidsStr, callback){
            $.ajax({
              type: "GET",
              url: "/imageSearch/",  
              data: { 
                csrfmiddlewaretoken: '{{ csrf_token }}',
                searchRGB: rgbStr,
                dateRange: rangeStr,
                mapIDs: mapidsStr},
              beforeSend: function(){
                $("#loader").show();
              },
              success: callback,
              complete: function(data) {
                $("#loader").hide();  
              }
            });
        } 

        function rgb2hex(rgb) {
            rgb = rgb.match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/);
            function hex(x) {
                return ("0" + parseInt(x).toString(16)).slice(-2);
            }
            return "#" + hex(rgb[1]) + hex(rgb[2]) + hex(rgb[3]);
        }

        function getImages() {
            searchFunc(rangeStr, rgbStr, mapidsStr, function(response){
                count = response[0];
                objectIDs = response[1];
                imgURLs = response[2];
                imagePals = response[3];

                if (count == 0) {
                    document.getElementById('imageContainer').innerHTML= "No Results"
                    return
                }


                var container = document.getElementById('imageContainer');

                allCols = imagePals[0];

                for (let i = 0; i < count; i++) {
                    cols = allCols[i]
                    var img = document.createElement('img');
                    img.src = imgURLs[0][i];
                    img.className= "display-im"

                    var link = document.createElement('a');
                    var baseURL = "https://artmuseum.princeton.edu/collections/objects/"
                    objectID = objectIDs[0][i]

                    link.setAttribute("href", baseURL+objectID);
                    link.setAttribute("target", "_blank");
                    link.appendChild(img)


                    var elem = document.createElement('div');
                    elem.setAttribute("class", "im-and-pal");


                    var pal = document.createElement('div');
                    pal.setAttribute("class", "palette");

                    var col1 = document.createElement('div');
                    col1.setAttribute("class", "pal-color");
                    var hex1 = 'rgb(' + cols[0][0]+ ',' + cols[0][1] + ',' + cols[0][2] + ')'
                    col1.style.cssText = 'background-color:' + hex1 + ';'


                    rgb1 = (col1.style.backgroundColor)
                    color1 = rgb2hex(rgb1);
                    col1.setAttribute("onclick", "palcopy('" + color1 + "')");

                    var col2 = document.createElement('div');
                    col2.setAttribute("class", "pal-color"); 
                    var hex2 = 'rgb(' + cols[1][0]+ ',' + cols[1][1] + ',' + cols[1][2] + ')'
                    col2.style.cssText = 'background-color:' + hex2 + ';'

                    rgb2 = (col2.style.backgroundColor)
                    color2 = rgb2hex(rgb2);
                    col2.setAttribute("onclick", "palcopy('" + color2 + "')");

                    var col3 = document.createElement('div');
                    col3.setAttribute("class", "pal-color");
                    var hex3 = 'rgb(' + cols[2][0]+ ',' + cols[2][1] + ',' + cols[2][2]+ ')'
                    col3.style.cssText = 'background-color:' + hex3 + ';'

                    rgb3 = (col3.style.backgroundColor)
                    color3 = rgb2hex(rgb3);
                    col3.setAttribute("onclick", "palcopy('" + color3 + "')");


                    var col4 = document.createElement('div');
                    col4.setAttribute("class", "pal-color");
                    var hex4 = 'rgb(' + cols[3][0]+ ',' + cols[3][1] + ',' + cols[3][2]+ ')'
                    col4.style.cssText = 'background-color:' + hex4 + ';'

                    rgb4 = (col4.style.backgroundColor)
                    color4 = rgb2hex(rgb4);
                    col4.setAttribute("onclick", "palcopy('" + color4 + "')");



                    var col5 = document.createElement('div');
                    col5.setAttribute("class", "pal-color");
                    var hex5 = 'rgb(' + cols[4][0]+ ',' + cols[4][1] + ',' + cols[4][2] +')'
                    col5.style.cssText = 'background-color:' + hex5 + ';'

                    rgb5 = (col5.style.backgroundColor)
                    color5 = rgb2hex(rgb5);
                    col5.setAttribute("onclick", "palcopy('" + color5 + "')");

                    pal.appendChild(col1);
                    pal.appendChild(col2);
                    pal.appendChild(col3);
                    pal.appendChild(col4);
                    pal.appendChild(col5);

                    elem.append(pal);
                    elem.append(link);

                    container.appendChild(elem);
                }

            });
            
        }

        function palcopy(col) {
            setTimeout(function() { 
                $("#hideDiv").fadeIn('fast'); 
                $("#hideDiv").fadeOut(1200); });
            var dummy = document.createElement("textarea");
            document.body.appendChild(dummy);
            dummy.value = col;
            dummy.select();
            document.execCommand("copy");
            document.body.removeChild(dummy);
        }

        function toggleColors() {

            var allIms = document.getElementsByClassName("display-im")
            var toggle = document.getElementById("toggle")
           

            for (i = 0; i < allIms.length; i++) {
                x = allIms[i]
                if (document.getElementById("check").checked) {
                    x.style.display = "none";
                    toggle.innerHTML = "View Images &nbsp";
                } else {
                    x.style.display = "block";
                    toggle.innerHTML = "View Colors &nbsp";
                }
            }
        }

        getImages()
        

        </script>

 


{% endblock %}
