{% extends "base.html" %}
{% load static %}

{% block content %}

<div style="background-color: #262626">
	<div class="container" style=" padding:50px; padding-bottom:30px; ">
	   <p style="color:white; font-size: 50px; font-weight: bold">PU Palette</p>
		 <div style="width: 75%">
		   <p style="color:#BDBDBD; font-size: 15px; font-weight: 300">The goal of our project is to create a new interactive and visually interesting medium for consuming the Princeton University Art Museum’s online database, by representing how color has been used in different regions over time. Include description of the website and how to use it (Ezra Zinberg and Nina He). </p>
		</div>
	</div>

	<div class = "container">
		<div class="row" style="padding-bottom:20px">
			<!-- date slider -->
			<div class = "column" style="flex:60%">
				<p class = "inputlabel">Date</p>
				<input class = "inputbox" id="demo"></input>
				<div class="slidecontainer">
		 			<input type="range" min="1" max="300" value="150" class="slider" id="myRange">
				</div>
			</div>

			<!-- space between -->
			<div class = "column" style="flex:5%"> </div>

			<!-- color + hex -->
			<div class = "column" style="flex:10%">
				<p class = "inputlabel">Color </p>
				<input class = "inputbox" id="hexval" value="#ff0000"></input>
				
			</div>

			<!-- space between -->
			<div class = "column" style="flex:5%"> </div>

			<!-- color circle -->
			<div class = "column" style="flex:20%">
				<div id = "circle" class = "circle" onclick="showPicker()"></div>
				<div class="ColorPicker" id="boxPicker" style="display:none; position: absolute; padding-top: 10px; ">
		        </div>

			</div>

		</div>
	</div>
</div>



<div class = "container" style = "padding: 50px">
 	<object data = "{% static 'map.svg'%}" id="alphasvg" type = "image/svg+xml" width = "100%" height = "100%"></object>
</div>

	<script>
		function showPicker() {
		  var x = document.getElementById("boxPicker");
		  if (x.style.display === "none") {
		    x.style.display = "block";
		  } else {
		    x.style.display = "none";
		  }
		}

				// Box & hue slider
		var boxPicker = new iro.ColorPicker("#boxPicker", {
		  width: 125,
		  color: "rgb(255, 0, 0)",
		  borderWidth: 0,
		  borderColor: "#262626",
		  layout: [
		    {
		      component: iro.ui.Box,
		    },
		    {
		      component: iro.ui.Slider,
		      options: {
		        sliderType: 'hue'
		      }
		    }
		  ]
		});



		var hexval = document.getElementById("hexval");
		var circle = document.getElementById("circle");


// TO DETERMINE THESE COLORS, USE HSV 
		let light = hexval.value;
		let med = '#757575'
		let dark = '#333333'

		hexval.oninput = function() {
			circle.style.backgroundColor = this.value;
			boxPicker.addColor(this.value);
			boxPicker.removeColor(0);
		}


		boxPicker.on(["color:init", "color:change"], function(color){
		  hexval.value = color.hexString;
		  circle.style.backgroundColor = color.hexString;
		  light = hexval.value;
		  // med = hexval.value;
		  // dark = hexval.value;
		});




		let ids = ["northamerica", "southamerica", "asia", "africa", "europe", "australia"]

		// function for determining what to color the region, based on frequency 
		function getColor(value) {
			if (value > 50 && value <= 100) {
				color = light
			}
			else if (value > 100 && value <= 200){
				color = med
			}
			else if (value > 200 && value <= 300){
				color = dark
			}
			return color
		}

		var slider = document.getElementById("myRange");
		var output = document.getElementById("demo");
		output.value = "100-199";


		  var a = document.getElementById("alphasvg");
	        a.addEventListener("load",function(){
	            // get the inner DOM of alpha.svg
	            var svgDoc = a.contentDocument;


				output.onchange = function() {
					val = this.value;
			        if (val > 0 && val <= 100){
			           		date = "0-99"
			            }
			           	else if (val > 100 && val <=200) {
			          		date = "100-199"
			           	}
			           	else if (val > 200 && val <=300) {
			           		date = "200-299"
			           	}
						output.value = date;
						slider.value = val;
				}
	          
	
	            slider.oninput = function() {
	            	// slider value
	            	val = this.value

	            	// grab date range from slider values / partitions to input into search algorithm
	            	if (val > 0 && val <= 100){
	            		date = "0-99"
	            	}
	            	else if (val > 100 && val <=200) {
	            		date = "100-199"
	            	}

	            	else if (val > 200 && val <=300) {
	            		date = "200-299"
	            	}

					output.value = date;
	
	                // color the section
					for (i = 0; i < ids.length; i++) {
						// this would be the color search palette function...
						// using date, id, and colorpal to return the 
						value = Math.random() * 400 + 50

						color = getColor(value)
						svgDoc.getElementById(ids[i]).style.fill = color
					}
				}

	        }, false);

		
	</script>
{% endblock %}

