.jumbotron {
    background: #532f8c !important;
    color: white !important;
    padding-bottom: 80px !important
}
.jumbotron .btn-primary {
    background: #845ac7 !important;
    border-color: #845ac7 !important
}
.jumbotron .btn-primary:hover {
    background: #7646c1 !important
}
.myjumbotron p {
    color: #d9ccee !important;
    max-width: 75% !important;
    margin: 1em auto 2em !important
}
.navbar+.jumbotron {
    margin-top: -20px !important
}
.jumbotron .lang-logo {
    display: block !important;
    background: #b01302 !important;
    border-radius: 50% !important;
    overflow: hidden !important;
    width: 100px !important;
    height: 100px !important;
    margin: auto !important;
    border: 2px solid white !important
}
.jumbotron .lang-logo img {
    max-width: 100% !important
}
